doctype html
html(lang='en-US')
    head
        include head.pug
        if user
            include clue.pug
    
    body(class='page-'+page)
        header
            h1
                | DisC
                span.logo
                    if user
                        img(src='/disco-one-logo-small.png', alt='DistrictCon Year 1 logo', style='opacity:'+(user.progress / 100)+';')

            if user
                section.sub-header
                    aside.user
                        | #{user.username} (#{user.score} watts)
                    nav
                        ul 
                            li 
                                a(href="/user/logout") Logout
                            li
                                a.mode-switch(href='#')
                
                aside.progress-tracker
                    figure.user-progress(style='width:'+user.progress+'%;')
        
        aside.messages
            if(message)
                p.message= message

        main
            block content

        footer
            p
                | &copy; DistrictCon 2026

        script(src='/game-ui.js')
