
# Data
*.sql
*.dump

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/

# Various caches
.npm
.eslintcache
.cache
.cache/

# Environment variables
.env
.env.*
!.env.example
