extends partials/layout.pug

block content
    p
        | You can change your password here. If you need more help, 
        |  visit a volunteer at the challenge display table in the 
        |  Village of Villages.
    
    form.login(action="", method="post")
        div.field-group
            label Username: 
            span.value
                =user.username
        
        div.field-group
            label(for="current-password") Current Password: 
            input#current-password(type="password", name="current-password", autocomplete="password", required)
        
        div.field-group
            label(for="new-password") New Password: 
            input#new-password(type="password", name="new-password", required)
        
        div.actions
            input(type="submit", value="Change Password")
    