doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        title= title
        meta(name='description', content='A little game.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/display.css')
    
    body(class='page-'+page)
        svg#display

        section.screen-saver

        section.meta
            header
                p.last.hide
                    | Last pattern by 
                    strong.username [username] 
                    span.result earned 30 points!
                button.run-next Run Next
                
            aside.admin.hide
                form#admin-pattern
                    div
                        input#pattern(value='R2-1-3-12-11-21-29-B2-21-12-R-2-4-3-G2-5-6-9-10-8-18-17-O2-14-13-G-B-22-15-16-Y2-20-19-26-27-24-23-25-17-16-9-6-7-14-28')
                    div
                        label(for='units')
                            input#units(type='number', min='100', value='500', step='25')
                            |  units | 
                        label(for='hold')
                            input#hold(type='checkbox', value='true')
                            |  hold | 
                        input(type='submit', value='Run')
                        input#clear(type='button', value='Clear')
                        input#rerun(type='button', value='Re-run Last')

        
        section.stats
            aside
                h2
                    | Leaderboard (
                    span.userCount
                    |  total players)
                ol.leaderboard

            aside
                h2
                    | Queue (
                    span.queueCount
                    |  total)
                ol.queue

        script(src='/display-ui.js')