doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        title= title
        meta(name='description', content='A little game.')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/display.css')
    
    body(class='page-'+page)
        svg#display

        section.meta
            aside.last
                | Last Run: ...
                | @TODO
            aside.admin
                form#admin-pattern
                    div
                        input#pattern
                    div
                        label(for='hold')
                            input#hold(type='checkbox', value='true', checked='checked')
                            | Hold 
                        input#clear(type='button', value='Clear')
                        input(type='submit', value='Run')

        
        section.stats
            aside
                h2 Leaderboard
                | @TODO

            aside
                h2 Queue
                | @TODO

        script(src='/display-ui.js')