extends partials/layout.pug

block content
    header 
        h1= title

    main
        section
            form(action="/", method="post")
                input(type="hidden", name="action", value="pattern")
                label(for="pattern")
                    | New Pattern: 
                    input#pattern(type="text", name="pattern")

        section
            h2 Found Patterns
            ul
                li one
                li two

    footer
        p
            | &copy; DistrictCon 2025
