extends partials/layout.pug

block content
    h2 Tips and Tricks
    p.
        Need a little help with the DisCo Year 1 badge challenge? This page is for you!
    
    details 
        summary 
            h3 How do I play?
        article
            p.
                You start by creating a user account, but you probably already guessed that 
                from the home page. Head over there and enter a username and password, then 
                click the checkbox that says this is for a "New User" and click the 
                "Login or Register" button.
            p.
                That's it, you're now signed up and logged in.
            p.
                The goal of the game is to collect "Watts" (a.k.a. points) by finding 
                "light patterns" throughout the con. How do you find light patterns? Well, 
                that's the challenge. But we will tell you that the badge is a big part of
                the game. You may also want to talk to people at the various tables around
                the con, they may have patterns for you! 
            p
                | You should also be sure to 
                a(href='/rules' title='read the rules').
                    read the rules
                | before playing.
    
    details
        summary 
            h3 This is difficult, can I have a hint?
        article
            p.
                There are many puzzles in the game, some are much more difficult than 
                others. Try solving one of the easier ones. Maybe try visiting the 
                Village tables? We also hear our sponsors can be helpful.
            p.
                Have you watched the lasers bouncing all around at the badge challenge
                table in the Village of Villages? I wonder if all of those patterns 
                are just random...?
            p.
                Keep in mind this is a hacker conference, so be sure to look at the 
                inner workings of this site...
            
            // I hear the Silver metro line requires a secret key. I wonder if the other lines
            // know what the key is...

    details
        summary 
            h3 I forgot my password!
        article
            p.
                One of the game admins can reset your password for you. Find them in the 
                Village of Villages space, at the badge challenge table!

    details
        summary 
            h3 I want all of my data deleted
        article
            p.
                No problem, one of the game admins can delete your user data entirely.
                Find them in the Village of Villages space, at the badge challenge table!
    
    details
        summary 
            h3 Who made all of this?
        article
            p.
                The badge and challenge were a group effort among jakerella, BigTaro, 
                RoRo, and ZeeTwii. I bet if you find one them at the con, they might be 
                able to help you out...
