extends partials/layout.pug

block content

    section.story
        p
            | Welcome to the party! Unfortunately, the lights have been off for a year now. We don't 
            | know who's behind this, but maybe you can help by finding light patterns at DistrictCon!
        
        p
            | For each light pattern you find, you'll earn Watts. Earn enough and the lights should turn on.
            | Even once the lights are on, you can keep finding patterns to really get the party going!

    section
        p Login (or create a new account) to get started.
        
        form.login(action="/user/login-register", method="post")
            div.field-group
                label(for="username") Username: 
                input#username(type="text", name="username", autocomplete="username", required)
            
            div.field-group
                label(for="password") Password: 
                input#password(type="password", name="password", autocomplete="password", required)
            
            div.field-group
                label(for="register") New User? 
                input#register(type="checkbox", name="register", value="true")
            
            div.actions
                input(type="submit", value="Login or Register")
        
        p.fine Usernames may only contain alphanumerics, hyphens, periods, and apostrophes.

        p.fine If you have forgotten your password, find an admin at the challenge table in the Village of Villages.
