extends partials/layout.pug

block content

    section.story
        p.
            I see the staff brought in some outside help to get the lights back on... 
            well, you're too late! These lights have been off for a year now, and you'll 
            never collect enough Watts to turn them all back on and start the party.
        p.
            My light patterns are scattered everywhere, good luck finding them... no wait, BAD luck!
        p.
            MWAHAHAHAHA!

    section
        p Login or Create a New Account:
        
        form.login(action="/user/login-register", method="post")
            input(type="hidden", name="next", value=nextPage)

            div.field-group
                label(for="username") Username: 
                input#username(type="text", name="username", autocomplete="username", required)
            
            div.field-group
                label(for="password") Password: 
                input#password(type="password", name="password", autocomplete="password", required)
            
            div.field-group
                label(for="register") New User? 
                input#register(type="checkbox", name="register", value="true")
            
            div.actions
                input(type="submit", value="Login or Register")
        
        p.fine Usernames may only contain alphanumerics, hyphens, periods, and apostrophes.

        p.fine If you have forgotten your password, find an admin at the challenge table in the Village of Villages.
