extends partials/layout.pug

block content
    h2 The Rules

    article
        p.
            The two players (i.e. badged DisrtrictCon participant with a registered 
            user account on https://game.districtcon.org) with the most Watts 
            (i.e. points) at 16:00 ET on January 25, 2026 will be the winners. Any 
            ties will be broken by the time of the latest pattern submission (earliest
            wins). Those two people will win a guaranteed, free badge to DisctrictCon
            Year 2.
        p
            strong.
                The winners must be present at the closing ceremonies to win.
        p.
            This is a casual, fun game for people to explore DistrictCon and all it 
            has to offer. Anyone is welcome to play - even those without a badge to 
            the conference - but only people with a valid conference badge can win 
            the prize.
        p.
            While we love to see collaboration in the hacker community, if you want 
            to win the final prize, please do not work together on these puzzles. 
            Small hints and nudges in the right direction are fine, but if two or 
            more players are directly sharing light patterns (our flags), then both 
            will be disqualified from the prize (but are welcome to continue to play).
        p.
            Don't be a jerk. (Please don't steal challenges, mislead players, prevent 
            anyone else from finding clues or patterns in any way (e.g. by hiding or 
            destroying them).)
        p.
            That said, this server and its codebase are fair game. If you can hack it, 
            more power to you.
