/* COMMON VARS */
html { --bg: #000; --fc: #ccc; --lc: #ccc; }

/* BROWSER STYLE RESET */
html{background:var(--bg);box-sizing:border-box;font-size:16px;height:100%;}body{background:var(--bg);color:var(--fc);height:100%;}*,*:before,*:after{box-sizing:inherit;}body,h1,h2,h3,h4,h5,h6,p,ol,ul{margin:0;padding:0;font-weight:normal;}img{max-width:100%;height:auto;}

body { overflow: hidden; font-size: 1.3rem; }

.message { height: 2rem; padding: 1rem; }
.message p { text-align: center; color: var(--fc) }

svg { width: 100%; min-height: 400px; }

.hide { display: none; }

circle { stroke: none; }

line.wall { stroke: #333; stroke-width: 3px; }

line.edge { opacity: 0; }
line.edge.marquee {
    --marquee: #f00;
    --marquee-light: #f99;
    stroke: var(--marquee);
    opacity: 1;
    stroke-width: 3px;
    stroke-dasharray: 20, 20;
    stroke-dashoffset: 0;
    animation: marquee 0.75s linear 0s normal infinite, rotateColor 4s linear 0s normal infinite;
    filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 5px var(--marquee)) drop-shadow(0 0 8px var(--marquee));
}
@keyframes marquee {
  0% { stroke-dashoffset: 0; }
  10% { stroke-dashoffset: -4; }
  20% { stroke-dashoffset: -8; }
  30% { stroke-dashoffset: -12; }
  40% { stroke-dashoffset: -16; }
  50% { stroke-dashoffset: -20; }
  60% { stroke-dashoffset: -24; }
  70% { stroke-dashoffset: -28; }
  80% { stroke-dashoffset: -32; }
  90% { stroke-dashoffset: -36; }
  100% { stroke-dashoffset: -40; }
}
@keyframes rotateColor {
  0% { --marquee: #f00; --marquee-light: #f99; }
  17% { --marquee: #f80; --marquee-light: #fb4; }
  34% { --marquee: #ff0; --marquee-light: #f99; }
  50% { --marquee: #0f0; --marquee-light: #f99; }
  67% { --marquee: #00f; --marquee-light: #f99; }
  84% { --marquee: #ddd; --marquee-light: #999; }
}

line.audio-bar { stroke: #f00; }

.screen-saver {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.screen-saver .disco-logo {
    position: absolute;
    width: 30%;
    top: 10%;
    left: 35%;
    animation: circlerotation 5s linear 0s normal infinite;
}
@keyframes circlerotation {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(180deg); }
  100% { transform: rotateY(360deg); }
}



circle.red {
    fill: #f00;
    filter: drop-shadow(0 0 3px #f99) drop-shadow(0 0 5px #f00) drop-shadow(0 0 8px #f00);
}
line.red {
    stroke: #f00;
    stroke-width: 3px;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #f00) drop-shadow(0 0 20px #f00);
}

circle.green {
    fill: #0f0;
    filter: drop-shadow(0 0 3px #9f9) drop-shadow(0 0 5px #0f0) drop-shadow(0 0 8px #0f0);
}
line.green {
    stroke: #0f0;
    stroke-width: 3px;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #0f0) drop-shadow(0 0 20px #0f0);
}

circle.blue {
    fill: #00f;
    filter: drop-shadow(0 0 3px #99f) drop-shadow(0 0 5px #00f) drop-shadow(0 0 8px #00f);
}
line.blue {
    stroke: #00f;
    stroke-width: 3px;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #00f) drop-shadow(0 0 20px #00f);
}

circle.orange {
    fill: #f80;
    filter: drop-shadow(0 0 3px #fb4) drop-shadow(0 0 5px #f80) drop-shadow(0 0 8px #f80);
}
line.orange {
    stroke: #f80;
    stroke-width: 3px;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #f80) drop-shadow(0 0 20px #f80);
}

circle.yellow {
    fill: #ff0;
    filter: drop-shadow(0 0 3px #ff9) drop-shadow(0 0 5px #ff0) drop-shadow(0 0 8px #ff0);
}
line.yellow {
    stroke: #ff0;
    stroke-width: 3px;
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #ff0) drop-shadow(0 0 20px #ff0);
}

.meta {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50rem;
    text-align: right;
}
.meta header { display: flex; justify-content: flex-end; margin-bottom: 1rem; }
.meta .last { width: 40rem; margin-right: 2rem; }

button.close {
    display: block;
    float: right;
    margin: 1rem 1rem 0 0;
}

button {
    display: inline-block;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    padding: 0.2rem 1.5rem;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
    background: #3594cb;
    color: #ddd;
    box-shadow: 0 6px #22719f;
}
button:hover { box-shadow: 0 4px #22719f; top: 2px; }
button:active { box-shadow: 0 0 #22719f; top: 6px; }

#pattern { width: 30rem; }
#units { width: 4rem; }

.stats { display: flex; justify-content: space-between; }
.stats aside { width: 50%; min-height: 10rem; }
.stats aside:nth-child(1) { border-right: 1px solid var(--lc); }
.stats h2 { font-size: 1.3rem; border-bottom: 1px solid var(--lc); }

.leaderboard, .queue { margin: 1rem 0 0 2rem; columns: 3; }
