/* COMMON VARS */
html { --bg: #000; --font: #eee; --line: #eee; --altbg: #ccc; --altfont: #000; }
html.light-mode { --bg: #fff; --font: #000; --line: #333; --altbg: #555; --altfont: #fff; }

/* BROWSER STYLE RESET */
html{background:var(--bg);box-sizing:border-box;font-size:16px;height:100%;}body{background:var(--bg);color:var(--font);height:100%;}*,*:before,*:after{box-sizing:inherit;}body,h1,h2,h3,h4,h5,h6,p,ol,ul{margin:0;padding:0;font-weight:normal;}p{margin:0.75rem 0;}ul{margin-left:1rem;}img{max-width:100%;height:auto;}

/* GENERAL PAGE STYLES */

body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2rem;
    padding: 7rem 0 2rem 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--bg);
    z-index: 9;
}
h1 { text-align: center; }
h1 a { text-decoration: none; color: var(--font); }
h1 .logo {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid var(--font);
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
h1 img {
    display: inline-block;
    position: absolute;
    top: -4px;
    left: -4px;
    opacity: 0;
    max-width: calc(100% + 8px);
}

.message {
    border-radius: 0.4rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    background: #ddd;
    color: #333;
}
.light-mode .message { background-color: #444; color: #fff; }

.hide { display: none; }

.fine { color: #ccc; }
.light-mode .fine { color: #666; }

.field-group { display: flex; justify-content: space-around; margin: 1rem 0; }
.field-group label { padding-right: 1rem; width: calc(50% - 1rem); text-align: right; }
.field-group input, .field-group .value { width: 50%; display: inline-block; }

form .actions { display: flex; justify-content: center; margin: 1rem 0; }

.button, button, input[type="submit"] {
    border: none;
    font-size: 1.1em;
    border-radius: 0.4rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
    background: #888;
    color: #fff;
    box-shadow: 0 6px #555;
}
.button:hover, button:hover, input[type="submit"]:hover { box-shadow: 0 4px #555; top: 2px; }
.button:active, button:active, input[type="submit"]:active { box-shadow: 0 0 #555; top: 6px; }

main {
    min-height: calc(100% - 4rem);
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.error-help { text-align: center; margin: 2rem 1rem; }

.paper {
    display: block;
    border: 1px dashed #eee;
    color: #666;
    font-family: "comic-sans", cursive, sans-serif;
    letter-spacing: 0.15rem;
    width: fit-content;
    margin: 0.5rem auto;
    padding: 1rem 2.4rem 1.3rem 2rem;
    background-color: #eee;
    background-image:
        linear-gradient(90deg, transparent 1.7rem, #abced4 1.7rem, #abced4 1.85rem, transparent 1.85rem),
        linear-gradient(#ccc .1em, transparent .1em);
    background-size: 100% 0.7em;
    -webkit-mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/8px 100%;
    corner-top-left-shape: squircle;
    border-top-left-radius: 1.2rem;
    corner-top-right-shape: scoop;
    border-top-right-radius: 0.4rem;
    corner-bottom-right-shape: bevel;
    border-bottom-right-radius: 2rem;
}

footer { text-align: center; border-top: 1px solid #ccc; padding: 0.5rem 1rem; background: #222; }
.light-mode footer { border-top: 1px solid #333; background-color: #eee; }
footer a { color: var(--font); text-decoration: none; border-bottom: 1px dashed var(--line); }


/* LOGIN / HOME PAGE */

.login * { margin: 0.5rem 0; font-size: 1.3rem; }
#register { position: relative; }
#register::after { content: "yes"; position: absolute; right: 20%; color: var(--font); }
.page-home p { text-align: center; font-size: 1.2rem; }
.page-home .story { padding-bottom: 1rem; border-bottom: 1px solid var(--line); }


/* GAME PLAY PAGE HEADER & NAV */

.sub-header { display: flex; justify-content: space-between; padding: 1rem; }
.sub-header .stats::before { content: "╷"; position: relative; left: 0.4rem; bottom: -0.1rem; }
.sub-header .stats::after {
    content: "─";
    display: inline-block;
    position: relative;
    bottom: -0.25rem;
    left: -0.3rem;
    transform: rotate(90deg);
}
nav ul { display: flex; justify-content: flex-end; list-style: none; line-height: 2rem; }
nav li { margin-left: 1rem; }
nav a { color: var(--font); text-decoration: none; }
.mode-switch::after { content: "☀"; }
.light-mode .mode-switch::after { content: "☾"; }

.progress-tracker {
    width: 100%;
    height: 0.3rem;
    background-color: #222;
    position: relative;
}
.light-mode .progress-tracker { background-color: #eee; }
.user-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.3rem;
    background: #3594cb;
    margin: 0;
    filter: drop-shadow(1px 0px 5px #fff);
}
.light-mode .user-progress { filter: drop-shadow(1px 0px 5px #99f); }
.user-progress.overclock {
    background: #e6e352;
    filter: drop-shadow(0px 0px 6px #fff) drop-shadow(0px 0px 10px #ff9)
}
.light-mode .user-progress.overclock {
    background: #f0b050;
    filter: drop-shadow(0px 0px 6px #fff) drop-shadow(0px 0px 10px #963)
}

.user-progress.overclock::after {
    content: "✶";
    display: block;
    position: absolute;
    right: -0.75rem;
    top: -0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: #e6e352;
    animation: sparkle 0.1s linear 0s normal infinite;
}
.light-mode .user-progress.overclock::after { color: #f0b050; }
@keyframes sparkle {
  0% {
    transform: scale(0.75) rotate(150deg);
  }
  50% {
    transform: scale(1.75) rotate(90deg);
  }
}


/* GAME PLAY PAGE MAIN CONTENT */

.game-action { margin: 1rem 0 2rem 0; }
.game-action .in-queue { text-align: center; font-size: 1.3rem; }
.game-action .queued-pattern { display: block; font-weight: bold; word-wrap: break-word; }

.new-pattern { display: flex; flex-direction: column; text-align: center; }
.new-pattern * { margin: 0.5rem 0; font-size: 1.3rem; }
input#pattern { padding: 0.5rem 0.3rem; }

.page-game .welcome {
    border: 1px solid var(--line);
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}
.page-game .welcome p { font-weight: bold; }

.last-submission { margin: 1rem 0; text-align: center; }
.last-submission .hint {
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--altbg);
    color: var(--altfont);
    margin-bottom: 3rem;
}
.last-submission .hint::after {
    content: " ";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: var(--altbg);
    border-radius: 0 0 100% 0;
    position: absolute;
    bottom: -1.9rem;
    left: 2rem;
}

.page-game details { margin: 1rem 0; }
.page-game summary { margin-bottom: 0.5rem; }
.page-game details h2 { display: inline-block }
.page-game .found { width: 100%; border-spacing: 0; border-collapse: collapse; table-layout: fixed; }
.page-game .found td { border-top: 1px solid var(--line); }
.page-game .found .pattern { padding: 0.5rem; word-wrap: break-word; }
.page-game .found .watts { vertical-align: top; width: 3.5rem; }
.page-game .found .watts span {
    display: inline-block;
    width: 100%;
    border: 1px solid var(--line);
    border-top: none;
    text-align: center;
    padding: 0.3rem 0;
    height: 3rem;
    line-height: 3rem;
}
.page-game .scale-1 span { box-shadow: inset 0 0 3px #ff9; }
.page-game .scale-2 span { box-shadow: inset 0 0 6px #ff9; }
.page-game .scale-3 span { box-shadow: inset 0 0 10px #ff9; }
.page-game .scale-4 span { box-shadow: inset 0 0 14px #ff9; }
.page-game .scale-5 span { box-shadow: inset 0 0 18px #ff9; }
.page-game .scale-6 span { box-shadow: inset 0 0 22px #ff9; }
.page-game .scale-7 span { box-shadow: inset 0 0 26px #ff9; }
.page-game .scale-8 span { box-shadow: inset 0 0 30px #ff9; }
.page-game .scale-9 span { box-shadow: inset 0 0 40px #ff9; }
.page-game .found details { margin: 0.25rem 0; }
.page-game .failed { margin-left: 2rem; }
.page-game .failed li { word-wrap: break-word; }

.page-game .milestones h2 { margin-bottom: 1rem; }
.page-game .milestones section { display: flex; justify-content: space-between; }
.page-game .milestones ol { width: calc(100% - 3rem); margin-left: 3rem; }
.page-game .milestones .lumi {
    position: relative;
    animation: bounce 2s linear 0s normal infinite;
}
.page-game .lumi-container { position: relative; }
.page-game .lumi-container .shadow {
    margin: 0 auto;
    width: 100%;
    height: 3px;
    border-radius: 50%;
    border: 1px solid #888;
    animation: shadowbounce 2s linear 0s normal infinite;
}
.light-mode .page-game .lumi-container .shadow { border: 1px solid #aaa; }
@keyframes bounce {
  0% { top: 0; transform: scale(1, 0.9); }
  10% { top: 0; transform: scale(1, 0.92); }
  20% { top: -2px; transform: scale(1, 0.97); }
  30% { top: -6px; transform: scale(1); }
  40% { top: -12px; }
  50% { top: -13px; }
  60% { top: -12px; }
  70% { top: -9px; }
  80% { top: -4px; }
  90% { top: -2px; transform: scale(1, 0.95); }
  100% { top: 0; transform: scale(1, 0.92); }
}
@keyframes shadowbounce {
  0% { width: 100%; }
  50% { width: 60%; }
  100% { width: 100%; }
}


/* ADMIN PAGE CONTENT */

.page-admin .validate-scores { margin-bottom: 1rem; }
.page-admin details { margin: 1rem 0; }
.page-admin details h3 { display: inline-block; }
.page-admin h4 { font-weight: bold; }
.page-admin .edit-user > * {
    display: inline-block;
    width: 49%;
    min-width: 20rem;
    vertical-align: top;
}
.page-admin .submissions { padding-left: 2rem; }
.page-admin .submissions ul { padding-left: 1rem; }
.page-admin .users td, .page-admin .users th { padding: 0.3rem 0.5rem; }
.page-admin .users .actions span { cursor: pointer; margin-right: 1rem; }

.page-admin .puzzles { margin-top: 1rem; border-collapse: collapse; }
.page-admin .puzzles th:nth-child(1), .page-admin .puzzles tr.detail td:nth-child(1) { text-align: left; }
.page-admin .puzzles thead th, .page-admin .puzzles tr.detail td {
    text-align: center;
    border-bottom: 1px solid var(--line);
}


.page-help h3 { display: inline-block; }
.page-help details { margin: 1.5rem 0; }
